<div class="grd">
  <div class="grd-row">
    <div class="grd-row-col-2">
        <h1>CURSOS</h1>
        <button (click)="openDialog()" class="btn--blue btn--s btn1">Añadir curso</button>
    </div>
    <div class="grd-row-col-4">
      <div class="container">
        <div class="media" *ngFor="let curso of cursos">
          
          <div class="media-body">
            <a  routerLink="/detail/{{curso.id}}">{{curso.data.nombre}}</a>
            <li *ngFor="let alumno of curso.data.alumnos">
              <a routerLink="/detail/{{curso.id}}">{{getAlumno(alumno)}}</a>
            </li>
            <div class="btn--group">
              <button class="btn--green btn--s btn1" (click)="editCurso(curso)">Editar</button>
              <button class="btn--red btn--s btn2" (click)="deleteCurso(curso.id)" >Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
