<div mat-dialog-content>

  <mat-form-field (ngSubmit)="newAlumno()">
    <mat-label>Nombre del alumno</mat-label>

    <input matInput [(ngModel)]="nombre">
  </mat-form-field>


  <mat-form-field (ngSubmit)="newAlumno()">
    <mat-label>Curso</mat-label>

    <mat-select placeholder="Curso" [(ngModel)]="curso">
      <mat-option matInput *ngFor="let curso of cursos" [value]="curso.id">

        {{curso.data.nombre}}

      </mat-option>

    </mat-select>

  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="newAlumno()" type="submit" [mat-dialog-close]="nombre" cdkFocusInitial>Ok</button>
</div>